.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

}

.header {
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
  box-shadow: 0 0 10px #ddd;
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}




.header a {
  text-decoration: none;

}

img {
  width: 100%;
  object-fit: cover;
  height: 250px;

}

.total {
  padding-bottom: 20px;
}

.content {
  color: #2196f3;
  font-weight: bold;
}

.card {
  transition: 0.3s;

}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}